<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="jumbotron mt-4">
                <h2 class="display-4">Registra Clientes</h2>
                <p class="lead">Añade nuevos clientes para que reserven habitaciones.</p>
                <hr class="my-4">
                <p>Presiona el botón para añadir un nuevo cliente</p>
                <a href="/person" class="btn btn-primary btn-lg">Registrar</a>
            </div>
        </div>
        <div class="col-8">
            <h1>Listado de personas</h1>
            <div id="tabla">
                <table class="table bg-light">
                <tr>  <!-- Se crea la tabla y los encabezados que tendrá -->
                    <th scope="col">Nombre</th>
                    <th scope="col">Habitación</th>
                    <th scope="col">Correo</th>
                </tr>

                <!--Para referenciar nuestro objeto JSON, se define con el método Object.keys(nombre_del_objeto_JSON)-->
            <% Object.keys(persons).forEach(function(prop) { %>
                <tr> <!--Para agregar la información del objeto JSON a la tabla se utiliza la función forEach() para iterar cada field del objeto JSON-->
                    <td scope="row"><%- persons[prop].nombre%></td>
                    <td><%- persons[prop].habitacion%></td>
                    <td><%- persons[prop].correo%></td>
                    <td> <a class="btn btn-danger btn-block" href="<%= `deletePerson/${persons[prop]._id}`  %>">Delete </a></td>
                    <td> <a class="btn btn-warning btn-block" href="<%= `findById/${persons[prop]._id}`  %>"> Update </a></td>
                </tr>
            <%}); %>
                </table>
            </div>
        </div>
    </div>
    

    <br> <!--Se establece un ancla para regresar a la página principal-->
    <a href="/" class="btn btn-danger btn-lg">Regresar</a>
</div>

<%- include('layout/footer') %>