<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar persona</title>
</head>
<body>

    <h1>Actualizar persona</h1>
        <!-- Formulario para actualizar la información de las personas-->
    <form action="/updatePerson" method="POST"> <!-- No olvidar poner la ruta en donde se ara la acción, utilizar el método POST-->
        <label for="nss">NSS:</label>
        <input type="text" name="nss" value="<%= `${person.nss}` %> " id="nss"><br><br>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value="<%= `${person.nombre}` %> " id="nombre"><br><br>
        <label for="edad">Edad:</label>
        <input type="text" name="edad" value="<%= `${person.edad}` %> " id="edad"><br><br>
        <label for="tipoSangre">Tipo de sangre:</label>
        <input type="text" name="tipoSangre" value="<%= `${person.tipoSangre}` %> " id="tipoSangre"><br><br>
        <label for="objId">ID:</label>
        <input type="text" id="objId" name="objId" value="<%= `${person._id}` %>"><br><br>

        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/persons">Back</a>
</body>
</html>